[user]
	name = Cristian Riano
	email = cristiancarm11@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[pager]
	branch = false
[commit]
	template = ~/.gitmessage
[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
[gpg]
	program = gpg
[push]
	default = current
[init]
	defaultBranch = master