[user]
	name = Cristian Riano
	email = cristiancarm11@gmail.com
[core]
	editor = vim
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	pager = diff-so-fancy | less -FXRi
[interactive]
	diffFilter = diff-so-fancy --patch
[pager]
	branch = false
[commit]
	template = ~/.gitmessage
[diff "rspec"]
	xfuncname = "^[ \t]*((RSpec|describe|context|it|before|after|around|feature|scenario|background)[ \t].*)$"
[gpg]
	program = gpg
[push]
	default = current
[pull]
	rebase = true
	ff = only
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[fetch]
	prune = true
